@font-face {
	font-family: "markerfelt_thin";
	src: url("../fonts/Marker Felt Thin.ttf");
}

@font-face {
	font-family: "markerfelt_wide";
	src: url("../fonts/Marker Felt Wide.ttf");
}

@font-face {
	font-family: "crimson_regular";
	src: url("../fonts/CrimsonText-Roman.ttf");
}

$heading1: "markerfelt_wide";
$heading2: "markerfelt_thin";
$body: "crimson_regular";
$dark-green: rgb(22, 92, 46);
$light-green: #5c9541;
$yellow: #ffe300;
$dropdown: #54823a;

* {
	padding: 0;
	margin: 0;
}

#sidebar {
	background-image: url("../images/navbar.jpg");
	background-size:cover;
	height: 100%;
	position: relative;
}

#header-image img {
	width: 90%;
	height: auto;
	margin: 5%;

}

.site-identity {
	width: 90%;
	height: auto;
	margin: 5%;
	
	
	h1 {
		font-family: "crimson_regular";
		color: $dark-green;
		font-size: 1.3em !important;
		
	}
	
	h3 {
		font-family: "crimson_regular";
		font-size: 1.2em !important;
		
	}
}



.background {
	background-image: url("../images/Background.png");

.menu-menu-1-container {
  	width: 100%;
  	background-color: $light-green;
	margin: 0, -20px, 0, -20px;
}

.menu, .sub-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: white;
	font-family: $heading1;
	border: thin solid $dark-green;
}


.menu a:hover {
	background-color: $dark-green;
}

.menu li:hover .sub-menu {
  	display: block;
  	max-height: 200px;
}

.sub-menu a {
  	background-color: $dropdown;
}

.sub-menu a:hover {
  	background-color: $dark-green;
}

.sub-menu {
  	overflow: hidden;
  	max-height: 0;
  	-webkit-transition: all 0.5s ease-out;

}
// start single post


// End single post

.col-10
{
 	background-color: white;
	
}

.hero-slider {
	width: 100%;
	height: auto;
}
.hero-slider img {
	width: 100%;
	height: auto;
}
.recent_posts {
	margin-left: 2%;
}
.col-5 {
	display: inline-block;
	float: left;
	padding: 3%;
}

.col-5 h2 {
	font-family: $heading1;
	color: $dark-green;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 2px solid $dark-green;
}

.col-5 h3 {
	font-family: $heading2;
	padding-bottom: 5px;
}

.col-5 .col-8 {
	margin-left: 8%;
}

.col-5 .col-4, .col-5 h2 {
// 	margin-left: 2%;
}
.col-5 a {
	color: $dark-green;	
	text-decoration: none;
}

.col-5 small, .col-5 div {
	font-family: $body;
}

.col-5 small {
	color: $dark-green;
}

.col-5 .row {
	margin-top: 15px;
}


/* sass --watch wp-content/themes/murpheys/css/styles.scss:wp-content/themes/murpheys/css/styles.min.css */
// Single Post CSS

#single h1{
	
}

// End Single Post CSS
